<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pet Shop</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
  <div class='jumbotron'>
    <div class='container'>
      <h2>BUY A PET.</h2>
    </div>
  </div>
  <h1>Pets for sale:</h1>
  <% for (var i = 0; i < pets.length; i++) { %>
    <div class='pets'>
      <p>Name:
        <%= pets[i].name %>
      </p>
      <p>Age:
        <%= pets[i].age %>
      </p>
      <p>Species:
        <%= pets[i].kind %>
      </p>
    </div>
    <% } %>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
</body>

</html>
